html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

#infoDiv {
  background: white;
  padding: 10px;
}

#sliderValue {
  font-weight: bolder;
}

#timeSlider {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 30px;
}
